
<div class="container"> 
  <div class="page-header">
    <h1>Log in </h1>
  </div>
  <%= form_tag sessions_path, class: "form-signin" do %>
    
    <div class="row  col-md-5">
      
      
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email address" %>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
      
      
      </br>
      <%= submit_tag "Log In", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>

</div>
</br>