<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<head>
  <title>Luckyanimals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
      
</head>
<body role="document">


    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%=root_path%>>Lucky Animals</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href=<%=root_path%>>Home</a></li>
            <li><a href=<%=root_path + "/#about" %>>About</a></li>
            <li><a href=<%= animals_path%>>Look for adoption</a></li>
            <li><a href=<%= my_animals_path%>>My animals</a></li>
            <li><a href=<%= new_animal_path%>>New Animal</a></li>
            <!--<li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Animals <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=<%= animals_path%>>List</a></li>
                <li><a href= <%= new_animal_path%>>New</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Separated link</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">One more separated link</a></li>
              </ul>
            </li>-->  
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if current_user %>

                <li class="active"><a href="./">Logged in as <%= current_user.email %>.  <span class="sr-only">(current)</span></a></li>
                <li><a href=<%=logout_path %>> Log Out</a></li>
              <% else %>
                <li><a href=<%=signup_path %>>Sign Up</a></li> 
                <li><a href=<%=login_path %>>Log In</a></li>
              <% end %>
              
            </li>
            </ul>
         
        </div><!--/.nav-collapse -->

        
      </div>
    </nav>

  
    <div class="container theme-showcase" role="main">
      <% if notice %>
        <div class="alert alert-success" role="alert"> 
          <%= notice%> 
        </div>
      <% end %>
    </div>
    </br>
    </br>
      <%= yield %>
      </br>
      
<div class="container theme-showcase" role="main">
      <% if flash.alert %>
        <div class="alert alert-danger" role="alert">
    	     <%=  flash.alert%>
        </div>
      <% end %>
    </div>

  </div>
</body>
</html>
