<div class="row">
		<% @animals.each do |animal| %>
  			<div class="col-sm-6 col-md-4">
    			<div class="thumbnail">
    				<% if animal.posts.first %>
      					<%= image_tag animal.posts.first.post_attachments.first.image_url%>
      				<%end%>
      				<div class="caption">
	        			<h3><%=animal.name %></h3>
	        			<p>
	        				is a 
    							<% case animal.gender %> 
          						<% when 1 %>
            						<%="female " %>
          						<% when 2 %>
            						<%= "male " %>
            					<% else %>
          							<%="..."%>
          						<% end %>
          					 <% case animal.neutered%>
          						<% when true %>
            						<%="neutered" %>
          						<% when false %>
            						<%= "" %>
          						<% else %>
          						<%="..."%>
    						<% end %>

          					 born at <%= animal.birthday.strftime("%e %B %Y") %>. 
	        			</p>
	        			<p>
	        				
	        				<a href=<%= animal_path animal.id%> class="btn btn-default" role="button">Details</a>
	        			</p>
       				</div>
    			</div>
  			</div>
		<%end%>
	</div>