
<div class="container"> 

<div class="page-header">
  <h1>New animal</h1>
</div>

<%= form_for @animal, :html => {class: "form-horizontal"}  do |f| %>
  

  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <%= f.text_field :name , class: "form-control", placeholder: "name"%>
      </div>
  </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"> Birthday </label>
      <div class="col-sm-8">
        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field :birthday,  class: "form-control", placeholder: "birthday" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
<script type="text/javascript">
  
  $(function () {
    $('#datetimepicker1').datetimepicker({ format: 'MM/DD/YYYY' });
   });

  $(":file").filestyle();

</script>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Gender </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :gender, '1' %> Female <br/>
      </label>
    <label class="checkbox-inline">
      <%= f.radio_button :gender, '2' %> Male <br/>
      </label>

  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Species </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :species, '1' %> Dog <br />
    </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :species, '2' %> Cat <br />
    </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :species, '3' %> Other <br />
    </label>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Size </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :size, '1' %> Small <br />
    </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :size, '2' %> Medium <br />
    </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :size, '3' %> Big <br />
    </label>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Coat color </label>
    <div class="col-sm-8">
      <%= f.text_field :coat_color , class: "form-control", placeholder: "coat color"%>
      </div>
    
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Eyes color</label>
    <div class="col-sm-8">
      <%= f.text_field :eyes_color , class: "form-control", placeholder: "eyes color"%>
      </div>
    
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"> Neutered </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :neutered, 'true' %> Yes <br/>
    </label>
    <label class="checkbox-inline"> 
      <%= f.radio_button :neutered, 'false' %> No <br/>
    </label>
  </div>

  <%= f.fields_for :post_attachments do |p| %>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"> Image </label>
      <div class="col-sm-8">
        <%= p.file_field :image, :multiple => true, name: "post_attachments[image][]", class: "filestyle" %>
      </div>
    </div>

  <% end %>


  <div class="actions form-group col-sm-3 control-label"><%= f.submit "Create" , class: "btn btn-primary btn-lg"%></div>
  </br>
  </br>
  </br>
  </br>

  <% if @animal.errors.any? %>
    <div class="alert alert-danger"> 
      <strong> Form is invalid. </strong>
      <ul class="list-inline">
        <% @animal.errors.full_messages.each do |message| %>
          <li> <%= message %>. </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
</div>