  
<div class="container"> 
  <div class="page-header">
    <div style="float: right;">
        <% if @animal.adopted %>
          <button type="button" class="btn btn-lg btn-success">Adopted</button>
        <% end %>
        <% if @animal.user != current_user %>
          <a href=<%= adopt_animal_path @animal.id%> class="btn btn-lg btn-warning" role="button" confirm="Do you really wanna adopt this animal?">Adopt</a>
        <% end %>
        
    </div>
    <div> 
      <h1> <%= @animal.name %> </h1>
     </div>
      
  </div>
  <p>  
    <strong> Birthday: </strong>
    <%= @animal.birthday.strftime("%Y/%m/%d") %>
  </p>
  <p>
    <strong> Gender: </strong>
    <% case @animal.gender %> 
          <% when 1 %>
            <%="Female" %>
          <% when 2 %>
            <%= "Male" %>
            <% else %>
          <%="..."%>
          <% end %>
  </p>
  <p>
    <strong> Species: </strong>
    <% case @animal.species %>
          <% when 1 %>
            <%="Dog" %>
          <% when 2 %>
            <%= "Cat" %>
          <% when 3 %>
            <%= "Other" %>
          <% else %>
            <%="..."%>
          <% end %>
  </p>
  <p>
    <strong> Size: </strong>
    <% case @animal.size%>
          <% when 1 %>
            <%="Small" %>
          <% when 2 %>
            <%= "Medium" %>
          <% when 3 %>
            <%= "Big" %>
            <% else %>
          <%="..."%>
          <% end %>
    
  </p>
  <p>
    <strong> Coat Color: </strong>
    <%= @animal.coat_color %>
  </p>
  <p>
    <strong> Eyes Color: </strong>
    <%= @animal.eyes_color %>
  </p>
  
  <p>
    <strong> Neutered: </strong>
    <% case @animal.neutered%>
          <% when true %>
            <%="Yes" %>
          <% when false %>
            <%= "No" %>
          <% else %>
          <%="..."%>
    <% end %>
    
  </p>
  
  <p>
  
  <% if @animal.posts.first %>  
    <% @animal.posts.first.post_attachments.each do |p| %>
         <%= image_tag p.image_url(:thumb), :class => "img-rounded" if p.image? %>
    <% end %>
  <%end %>
  </p>
 <p> 
  <!--<button type="button" class="btn btn-lg btn-link"><%= link_to 'Edit', edit_animal_path(@animal) %> </button>-->
  
    <%= link_to 'Remove', delete_animal_path , :confirm =>  'Are you sure you want to remove this animal? This cannot be undone.', :class=>"btn btn-default" %> 
  
  
  <button type="button" class="btn btn-default"><%= link_to 'Back', animals_path %> </button>

</p>

</div>